<html>
  <body>
    {{ username }} (<a href="{{ logout }}">logout</a>)<br/>
    <a href="/students?class={{ class.id }}&date=&offset=-1">&lt;&lt;</a>
    {{ the_date|date:"D d M Y T O" }}
    <a href="/students?class={{ class.id }}&date=&offset=1">&gt;&gt;</a>
    <br/>

    <h2>Class: {{class.name }}</h2>
    <table>
    {% for student in students %}
      <tr><td>
      <form action="/attend" method="get">
      {{ student.first_name }} {{ student.last_name }}
      </td><td>
	<input type="hidden" name="date" value="{{ the_date|date:"U" }}">
	<input type="hidden" name="student" value="{{ class.id }}">
        <input type="submit" value="&#x2713;">
      </form>
      </td></tr>
    {% endfor %}
    </table>

  </body>
</html>
